.movies {
    padding: 80px 70px 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 360px));
    grid-gap: 59px 32px;
    justify-content: space-between;
}

@media screen and (max-width: 1070px) {
    .movies {
        grid-template-columns: repeat(2, minmax(300px, 339px));
    }
}

@media screen and (max-width: 768px) {
    .movies {
        padding: 82px 30px 50px;
        grid-gap: 47px 30px;
    }
}

@media screen and (max-width: 692px) {
    .movies {
        grid-template-columns: minmax(300px, 342px);
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .movies {
        padding: 49px 10px 46px;
        grid-gap: 37px;
    }
}