.film-container {
  flex: 1 0 auto;
}

.movies-not-found{
  font-family: Inter, Helvetica, sans-serif;
  margin: 30px 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}
@media screen and (max-width: 650px){
  .movies-not-found{
    padding: 0 20px;
  }
}