.filter-checkbox {
    padding: 0;
    border: none;
    margin: 12px 0 0;
    display: flex;
    justify-content: center;
}

.filter-checkbox__input {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.filter-checkbox__label {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-left: 50px;
    cursor: pointer;
}

.filter-checkbox__label::before {
    content: '';
    position: absolute;
    width: 36px;
    height: 20px;
    background-color: #ebebeb;
    border-radius: 20px;
    left: 0;
    top: -1px;
    transition: background-color ease-in-out 0.3s;
}

.filter-checkbox__label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 13px;
    height: 13px;
    background-color: #F5F5F5;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    transition: left ease-in-out 0.3s, background-color ease-in-out 0.3s;
}

.filter-checkbox__label_state_active::after {
    width: 13px;
    height: 13px;
    left: 19px;
    background-color: #2be080;
    border: 1px solid #FFFFFF;
}

@media screen and (max-width: 768px) {
    .filter-checkbox {
        margin: 23px 0 0;
    }
}

@media screen and (max-width: 500px) {
    .filter-checkbox__label {
        font-size: 11px;
        line-height: 18px;
    }

    .filter-checkbox {
        margin: 33px 0 0;
        justify-content: center;
        padding: 0;
    }
}