.form-error {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #EE3465;
    min-height: 14px;
    margin: 6px 0 0;
}

.form-error_type_auth {
    font-size: 10px;
    line-height: 12px;
}